.container {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  align-items: center;
  justify-content: center;
  width: 15rem;
}

.description img{
  width: 100%;
  height: auto;
}
.description p{
  text-align: center;
}
